<div id="container" class="pageborder" ng-controller="billingController">
    <div id="companyLogo">KARPET KLEEN MAINTENANCE CORP.</div>
    <div id="companyAdd">404 CLF Bldg. Chino Roces Avenue, Makati City, Tel. Nos.: 571-1642 / 403-6983 / 570-8861 / Fax No.: 725-44-98 VAT REG. TIN:008-050-221-000"</div>
    <pre>Billing ID: {{selected|json}}</pre>   
    <input type="text" id="id" ng-model="selected" class="form_control" typeahead="id for id in ids  | filter:$viewValue | limitTo:100"  typeahead-on-select='onSelect_id_billing($item, $model, $label)' ng-blur="billingIDblur($event)">
    <input type="text" id="date" title="Enter billing date" ng-blur="billingUpdate(selected,'date_billing',billing.date_billing)" ng-model="billing.date" class="billingDiv" >
    <input type="text" id="customer" class = "form_control" ng-focus ="cust_focus()" title="Enter customer name" ng-model="billing.customer" typeahead="customer for customer in customers  | filter:$viewValue | limitTo:100" typeahead-on-select='onSelect_customer_name($item, $model, $label, $scope)' ng-blur="billingIDblur($event)">
    
    <input type="text" id="subject" title="Subject" ng-blur="billingUpdate(selected,'subject',billing.subject)" ng-model="billing.subject" class="billingDiv"  value="Input Subject of Billing Here">
    <input type="text" id="employee" title="Employee Name" ng-blur="billingUpdate(selected,'employee',billing.employee)" ng-model="billing.employee" class="billingDiv"  value="Employee name here">
    <input type="text" id="period" title="For period of" ng-blur="billingUpdate(selected,'period',billing.period)" ng-model="billing.period" class="billingDiv"  value="For Period Of">
    <div id="grid1" ui-grid="additional" ui-grid-edit ui-grid-cellNav class="myGrid"></div>

</div>

    